
/*
** HTML elements
*/
body {
  margin:0px;
	font-family:verdana;
	font-size:12px;
}
tr.odd td, tr.even td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {color:#69aa03; font-size:2em;}
h2 {color:#4096ee; font-size:2em;}
h3 {color:#69aa03; font-size:1.5em;}
h4 {color:#4096ee; font-size:1.5em;}
h5 {color:#69aa03; font-size:1.2em;}
h6 {color:#4096ee; font-size:1.2em;}

p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #39c;
}
a:visited {
  color: #369;
}
a:hover {
  color: #000;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}

/*
** Page layout blocks / IDs
*/

.main-container{
	width:895px;
	margin-left:auto;
	margin-right:auto;
	background:url(images/grey-left.jpg) no-repeat left top;
	padding-left:30px;
	overflow:auto;
	overflow:hidden;
}

.container{
	width:896px;
	float:left;
	background:url(images/leftbar-bg.jpg) repeat-y left;
}

.header{
	background:url(images/header-bg.jpg) no-repeat;
	width:897px;
	height:102px;
}


.leftbar{
	width:212px;
	float:left;
	padding:20px;
	color:#fff;
}

.right-area{
	width:643px;
	float:right;
	clear:right;
}

.top-image{
	width:643px;
	height:239px;
	background:url(images/top-image.jpg) no-repeat;
}

.content-area{
	clear:both;
	padding:7px;
}

.footer-info{
	padding-top:15px;
}

.footer{
	height:45px;
	clear:both;
	background:#d6d6d6;
	margin-top:1px;
	text-align:center;
}


.logo{
	padding-top:20px;
	padding-left:55px;
	float:left;
	width:200px;
}

.slogan{
	float:left;
	font-weight:bold;
	font-size:14px;
	color:#FFFFFF;
	padding:35px 0 0 40px;
}

.search-box{
	float:right;
	padding-top:35px;
	padding-right:25px;
	width:auto;
}

.search-box label{float:left; width:auto; }
.search-box #search-theme-form{float:left;}
.search-box #search-theme-form #search #edit-submit{background:none; border:none;}


.leftbar h1, .leftbar h2, .leftbar h3, .leftbar h4, .leftbar h5, .leftbar h6{
	color:#FFFFFF;
}


.leftbar a{
	color:#FFFFFF;
}

.leftbar a:visited{
	color:#FFFFFF;
}

.leftbar a.active{
	color:#000000;
}











#header, #content {
  width: 100%;
}
#header {
  background-color: #69c;
}
#logo {
  vertical-align: middle;
  border: 0;
}
#logo img {
  float: left;
  padding: 0 1em;
  border: 0;
}
#menu {
  padding: 0.5em 0.5em 0 0.5em;
  text-align: right;
  vertical-align: middle;
}

ul#navlist li{padding: 0 0 12px 20px; background:url(images/bullet.jpg) no-repeat 0px 3px;
}

#navlist {
  font-size: 16px;
  padding: 0 0.8em 1.2em 0;
  color: #9cf;
}
#navlist a {
  font-weight: bold;
  color: #fff;
}
#subnavlist {
  padding: 0.5em 1.2em 0.4em 0;
  font-size: 0.8em;
  color: #9cf;
}
#subnavlist a {
  font-weight: bold;
  color: #9cf;
}
ul.links li {
  display:list-item;
}
ul.links li.first {
  border: none;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}
#search .form-text {
  width: 8em;
  padding: 0 0.5em;
}
#mission {
  background-color: #369;
  padding: 1.5em 2em;
  color: #fff;
}
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}
div.site-name {
  margin: 0 0 0 0;
  padding: 187px 15px 0 0;
  font-size: 1.5em;
  text-align:right;
  clear:both;

}

.site-name h1{
	font-size:24px;
}

.site-name a:link, .site-name a:visited {
  color: #fff;
}
.site-name a:hover {
  color: #eee;
  text-decoration: none;
}
.site-slogan {
  font-size: 1em;
  color: #eee;
  display: block;
  margin: 0;
  font-style: italic;
  font-weight: bold;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
}
#mission, .node .content, .comment .content {
  line-height: 1.4em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#sidebar-left, #sidebar-right {
  background-color: #ddd;
  width: 16em;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
  vertical-align: top;

}
#footer {
  background-color: #eee;
  padding: 1em;
  font-size: 0.8em;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/

.leftbar .title{
color:#FFFFFF;
text-align:center;
font-size:20px;
font-weight:lighter;
border-top:#a0cbf7 1px dashed;
border-bottom:#a0cbf7 1px dashed;
padding:1px 0 3px 0;
}

.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  color: #777;
  margin: 0;  /* decrease default margins for h<x>.title */
}
.submitted {
  color: #999;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.block, .box {
  padding: 0 0 1.5em 0;
}
.block {
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2em 0;
}
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
}
.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}

div.admin .left .admin-panel h3{
	background-color: #69aa03;
}

div.admin .right .admin-panel h3{
	background-color: #4096ee;
}

div.admin-panel .description {
  color: #999;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}
